*{
    padding: 0;
    margin-left: 40px;
    text-decoration: none;
    list-style: none;
    font-family: 'Martian Mono', monospace;
    background: rgb(20, 65, 124);
    color: white;
}
img{
    position: relative;
    bottom: 400px;
    left: 900px;
    
}
.info{
    padding-top: 100px;
}